.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0 auto;
  height: 100%;
}

.home img {
  height: 600px;
  width: auto;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.imageBox {
  background-color: rgb(235, 235, 235);
}