.shop {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.grid {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
  justify-content: center;
  list-style: none;
}

.title {
  margin: 0 auto;
  padding: 20px;
}
